# Porta em que o servidor Node.js vai rodar
PORT=3000

# String de conexão com o banco de dados PostgreSQL
# Substitua usuario, senha e db_name com as suas credenciais
DATABASE_URL="postgresql://postgres:suasenha@localhost:5432/lab_db?schema=public"
